body {
    padding: 0;
    margin: 0;
    background-color: rgb(61, 61, 61);
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  
header {
    height: 125px;
    margin-top: 25px;
    margin-left: 25px;
  }

.container_1 {
    display: flex;
  }

h1 {
    margin: 0px 10px;
  }
  
h5 {
    margin: 5px 10px;
    font-weight: 300;
  }

button {
    outline: none;
  }

.addButton {
    margin-left: auto;
    margin-right: 50px;
    width: 150px;
    height: 45px;
    border: none;
    background: #282828;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: white;
    font-size: 25px;
  }

.addButton:active {
    border-bottom-width: 2px;
    transform: translateY(1px);
    background-color: #1f1e1e;
  }

table {
    margin: 0 auto;
    border-style: solid;
  }

td,
th {
  border: 1px solid;
  margin: 0;
  min-width: 200px;
  text-align: center;
}

h3 {
    text-align: center;
  }

.newBookContainer {
    display: flex;
    flex-direction: column;
    visibility: visible;
    margin: 10px auto;
    padding: 5px;
    background: #282828;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    max-width: 300px;
    min-height: 250px;
  }

input[type='text'] {
    margin: 5px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
    background-color: rgb(230, 230, 230);
    border: solid 1px;
    text-align: center;
    width: 250px;
  }

.buttonContainer {
    display: flex;
    justify-content: center;
}

.formButton {
    width: 100px;
    margin: 10px;   
  }